setuptools
mlflow==2.1.1
SQLAlchemy==1.4.39
protobuf==3.19.6
tensorboard==2.10.1
tensorflow==2.10.1
tensorflow-datasets==4.8.2
urllib3==1.26.14
boto3==1.26.71
cryptography==39.0.1
decorator==5.1.1
docker==6.0.1
jsonpickle==2.2.0
jsonpointer==2.3
matplotlib==3.7.0
tqdm==4.64.1
matplotlib-inline==0.1.6
jsonschema==4.17.3